/***
 * The main CSS file 
 */

body, body *, .uk-logo{
	font-family: 'Source Sans Pro', sans-serif;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
	font-family: 'Source Sans Pro', sans-serif;
}

/***
 * Position the footer at the bottom of the page
.tm-margin-bottom-40{
	margin-bottom:40px;
}

html{
	position: relative;
	min-height: calc(100vh - 104px);
	padding-bottom: 104px;
}

html.uk-offcanvas-page{
	padding-bottom: 0px;
}

#tm-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

@media only screen and (min-width: 960px) {
	html{
		position: relative;
		min-height: calc(100vh - 164px);
		padding-bottom: 164px;
	}
}
/*** end of the footer positioning ***/

/***
 * Profile page banner and profile pic
 */
.tm-margin-bottom-40{
	margin-bottom: 40px;
}

.tm-border-bottom{
	border-bottom: 1px solid #e5e5e5;
}

.tm-position-relative{
	position: relative;
}

.tm-edit-button{
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(255,255,255,0.75);
	padding: 2px 8px;
	color:#333 !important;
	border-top-left-radius: 5px;
	z-index: 10; 
}

.tm-profile-content{
	width: 100%;
	position: relative;
	top: 20px;
}

.tm-profile-pic{
	border: 5px solid #fff;
	box-shadow: 0px 1px 4px #555;
}

@media only screen and (max-width: 640px) {
	.tm-profile-banner{
		margin-bottom: 60px
	}
	.tm-profile-content{
		top:0px;
	}
	.tm-height-small{
		height: 150px;
	}
	.tm-profile-pic-container{
		position: relative;
		top:60px;
	}
}
 /*** end of the Profile page ***/